body {
    background-color: hsl(0, 0, 100%);

}

section {
    font-family: arial;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.main {
    width: 480px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: hsl(0, 0%, 100%);
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 9px 9px 80px 0px hsla(224, 30%, 27%, 0.468);
}

.main1 {
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    min-width: 50%;
    max-width: 50%;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.fsttxt {
    padding-top: 5px;
    font-size: 16px;
    color: rgba(255, 244, 244, 0.857);
    font-weight: 400;
}

.sectxts {
    background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    border-radius: 50%;
    box-shadow: ;
    width: 150px;
    height: 150px;
    margin: 0;
    align-content: center;
    text-align: center;
}

.sectxts span {
    font-size: 54px;
    position: relative;
    top: 10px;
    color: rgba(255, 244, 244, 0.956);
}

.sectxts p {
    padding: 0;
    margin: 0;
    font-size: 12px;
    font-weight: 200;
    color: rgba(255, 244, 244, 0.751);
    position: relative;
    top: 5px;
}

.trdtxt {
    color: rgba(255, 255, 255, 0.97);
    font-size: 20px;
}

.main1 p {
    margin-top: 0;
    padding-bottom: 20px;
    font-size: 10px;
    letter-spacing: 0.5px;
    text-align: center;
    color: rgba(255, 255, 255, 0.821);
}

.main2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 0;
    width: 50%;
    padding: 20px 28px 20px 20px;
    ;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.main2 h1 {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.92);
}

.item1 {
    border-radius: 3px;
    width: 100%;
    background-color: hsla(0, 100%, 67%, 0.100);
    padding: 10px 5px 10px 5px;
    font-size: 12px;
    display: flex;
    justify-content: space-between;

}

.reaction {
    color: hsl(0, 100%, 67%);
    padding-left: 23px;
    position: relative;
}

.icon1 {
    display: inline;
    position: absolute;
    top: -3px;
    left: 0;
    transform: scale(-0.9);
}

.reaction80 {
    font-weight: 600;
    display: flex;
    justify-content: flex-start;
}

.reaction100 {
    font-weight: 500;
    padding-left: 5px;
}

.item2 {
    border-radius: 3px;
    width: 100%;
    background-color: hsla(39, 100%, 56%, 0.213);
    padding: 10px 5px 10px 5px;
    font-size: 12px;
    display: flex;
    justify-content: space-between;

}

.memory {
    color: hsla(39, 100%, 56%);
    padding-left: 23px;
    position: relative;
}

.icon2 {
    display: inline;
    position: absolute;
    top: -3.5px;
    left: 0;
    transform: scale(-0.7);
}

.memory92 {
    font-weight: 600;
    display: flex;
    justify-content: flex-start;
}

.memory100 {
    font-weight: 500;
    padding-left: 5px;
}

.item3 {
    border-radius: 3px;
    width: 100%;
    background-color: hsla(166, 100%, 37%, 0.293);
    padding: 10px 5px 10px 5px;
    font-size: 12px;
    display: flex;
    justify-content: space-between;

}

.verbal {
    color: hsl(166, 100%, 37%);
    padding-left: 23px;
    position: relative;
}

.icon3 {
    display: inline;
    position: absolute;
    top: -3.5px;
    left: 0;
    transform: scale(-0.7);
}

.verbal61 {
    font-weight: 600;
    display: flex;
    justify-content: flex-start;
}

.verbal100 {
    font-weight: 500;
    padding-left: 5px;
}

.item4 {
    border-radius: 3px;
    width: 100%;
    background-color: hsla(234, 85%, 45%, 0.286);
    padding: 10px 5px 10px 5px;
    font-size: 12px;
    display: flex;
    justify-content: space-between;

}

.visual {
    color: hsl(234, 85%, 45%);
    padding-left: 23px;
    position: relative;
}

.icon4 {
    display: inline;
    position: absolute;
    top: -3.5px;
    left: 0;
    transform: scale(-0.7);
}

.visual72 {
    font-weight: 600;
    display: flex;
    justify-content: flex-start;
}

.visual100 {
    font-weight: 500;
    padding-left: 5px;
}

.btn {
    border-radius: 25px;
    width: 100%;
    background-color: hsl(224, 30%, 27%);
    padding: 10px 5px 10px 5px;
    font-size: 12px;
    margin-top: 5px;
    color: aliceblue;
    text-align: center;
    cursor: pointer;
}

.btn:active {
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}








@media (max-width: 440px) {
    section {
        font-family: arial;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .main {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        background-color: hsl(0, 0%, 100%);
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
        border-bottom-left-radius: 25px;
        box-shadow: 9px 9px 30px 0px hsla(224, 30%, 27%, 0.468);
    }

    .main1 {
        background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
        min-width: 100%;
        max-width: 100%;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 25px;
        border-bottom-left-radius: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .fsttxt {
        padding-top: 5px;
        font-size: 16px;
        color: rgba(255, 244, 244, 0.857);
    }

    .sectxts {
        background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
        border-radius: 50%;
        box-shadow: ;
        width: 150px;
        height: 150px;
        margin: 0;
        align-content: center;
        text-align: center;
    }

    .sectxts span {
        font-size: 50px;
        color: rgba(255, 244, 244, 0.956);
    }

    .sectxts p {
        padding: 0;
        margin: 0;
        font-size: 12px;
        font-weight: 200;
        color: rgba(255, 244, 244, 0.751);
    }

    .trdtxt {
        color: rgba(255, 255, 255, 0.97);
        font-size: 20px;
    }

    .main1 p {
        margin-top: 0;
        padding-bottom: 20px;
        font-size: 10px;
        letter-spacing: 0.5px;
        text-align: center;
        color: rgba(255, 255, 255, 0.821);
    }

    .main2 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        width: 94%;
        padding: 0;
        margin: 16px 0px 16px 12px;
        border-bottom-right-radius: 25px;
        border-top-right-radius: 25px;

    }

    .main2 h1 {
        font-size: 25px;
        color: rgba(0, 0, 0, 0.892);
        padding-bottom: 12px;
        align-self: flex-start;
    }

    .item1 {
        background-color: hsla(0, 100%, 67%, 0.100);
        border-radius: 5px;
        width: 92%;
        padding: 20px 15px 20px 15px;
        font-size: 18px;
        display: flex;
        justify-content: space-between;

    }

    .reaction {
        color: hsl(0, 100%, 67%);
        

    }
.icon1{
    top: 0;
}
.icon2{
    top: 0;
}
.icon3{
    top: 0;
}
.icon4{
    top: 0;
}
    .reaction80 {
        font-weight: 600;
        display: flex;
        justify-content: flex-start;
    }

    .reaction100 {
        font-weight: 500;
        padding-left: 5px;
    }

    .item2 {
        background-color: hsla(39, 100%, 56%, 0.213);
        border-radius: 5px;
        width: 92%;
        padding: 20px 15px 20px 15px;
        font-size: 18px;
        display: flex;
        justify-content: space-between;
        margin-top: 20px;

    }

    .memory {
        color: hsla(39, 100%, 56%);
    }

    .memory92 {
        font-weight: 600;
        display: flex;
        justify-content: flex-start;
    }

    .memory100 {
        font-weight: 500;
        padding-left: 5px;
    }

    .item3 {
        background-color: hsla(166, 100%, 37%, 0.099);
        border-radius: 5px;
        width: 92%;
        padding: 20px 15px 20px 15px;
        font-size: 18px;
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }

    .verbal {
        color: hsl(166, 100%, 37%);
    }

    .verbal61 {
        font-weight: 600;
        display: flex;
        justify-content: flex-start;
    }

    .verbal100 {
        font-weight: 500;
        padding-left: 5px;
    }

    .item4 {
        background-color: hsla(234, 85%, 45%, 0.111);
        border-radius: 5px;
        width: 92%;
        padding: 20px 15px 20px 15px;
        font-size: 18px;
        display: flex;
        justify-content: space-between;
        margin-top: 20px;

    }

    .visual {
        color: hsl(234, 85%, 45%);
    }

    .visual72 {
        font-weight: 600;
        display: flex;
        justify-content: flex-start;
    }

    .visual100 {
        font-weight: 500;
        padding-left: 5px;
    }

    .btn {
        border-radius: 25px;
        background-color: hsl(224, 30%, 27%);
        color: aliceblue;
        text-align: center;
        width: 94%;
        padding: 24px 12px 24px 12px;
        font-size: 20px;
        margin-top: 20px;
    }
   
    

}